<?
$css->config = array(
	'color' => array(
		'primary' => array(
			'light'  => '#ffffff',
			'medium' => '#eae8e4',
			'dark'   => '#b5b2a9'
		),
		
		'secondary' => array(
			'light'  => '#41e1f5',
			'medium' => '#11b3c7',
			'dark'   => '#575551'
		),
		
		'blue' => array(
			'light'  => '#9fedf7',
			'medium' => '#11b3c7',
			'dark'   => '#047f8f'
		),
		'orange' => array(
			'light'  => '#f37246',
			'medium' => '#ff5511',
			'dark'   => '#932a00'
		)
	),
	
	'font' => array(
		'color'          => '#636363',
		'family'         => "Arial, Helvetica, sans-serif",
		'letter_spacing' => '0.04em',
		'line_height'    => '140%',
		'size'           => array(
			'small'  => '12px',
			'normal' => '14px',
			'large'  => '16px'
		),
		
		'h1' => array(
			'color'  => '#333',
			'family' => "Arial, Helvetica, sans-serif",
			'size'   => array(
				'small'  => '140%',
				'normal' => '160%',
				'large'  => '200%'
		)),
		
		'h2' => array(
			'color'  => '#333',
			'family' => "Arial, Helvetica, sans-serif",
			'size'   => array(
				'small'  => '120%',
				'normal' => '140%',
				'large'  => '175%'
		)),
		
		'h3' => array(
			'color'  => '#333',
			'family' => "Arial, Helvetica, sans-serif",
			'size'   => array(
				'small'  => '120%',
				'normal' => '140%',
				'large'  => '160%'
		)),
		
		'h4' => array(
			'color'  => '#333',
			'family' => "Arial, Helvetica, sans-serif",
			'size'   => array(
				'small'  => '80%',
				'normal' => '100%',
				'large'  => '120%'
		)),
		
		'p' => array(
			'color'  => '#333',
			'family' => "Arial, Helvetica, sans-serif",
			'size'   => array(
				'small'  => '80%',
				'normal' => '100%',
				'large'  => '120%'
		)),
		
		'a' => array(
			'color'  => '#11B3C7',
			'family' => "Verdana, Geneva, sans-serif",
			'size'   => array(
				'small'  => '80%',
				'normal' => '100%',
				'large'  => '120%'
		)),
	)
	
);
?>