
<font face="Verdanna,Arial,Helvetica">
<p>This email serves as your record of your Bogus Lead submission on the following project:<br />
<strong>Project: </strong>%%_PROJECT_ID_%% %%_PROJECT_NAME_%%<br />
<strong>Budget: </strong>%%_BUDGET_LABEL_%%</p>
<p>We will investigate the situation and be in touch with our decision. Please visit our FAQ\'s <a href="%%_FAQ_URL_%%" alt="AppTank FAQ's">%%_FAQ_URL_%%</a> to understand what a bogus lead is, and is not.</p>
<p>Questions?  Please visit our FAQ's <a href="%%_FAQ_URL_%%" alt="AppTank FAQ's">%%_FAQ_URL_%%</a></p>
<p>-Team AppTank-</p>
</font>