
<font face="Verdanna,Arial,Helvetica">
<p>A developer has submitted a Bogus Lead report on the following project:<br />
<strong>Project: </strong>%%_PROJECT_ID_%% %%_PROJECT_NAME_%%<br />
<strong>Budget: </strong>%%_BUDGET_LABEL_%%</p>
<p>AppTank will be contacting you soon to investigate this claim.  Often this can be a simple miscommunication.  However, please be aware that submitting bogus leads can get your account terminated.</p>
<p>Please contact AppTank immediately to resolve this issue: <a href="mailto:violations@apptank.com" alt="AppTank Violations">violations@apptank.com</a> or 1-888-308-0318.</p>
<p>Questions?  Please visit our FAQ's <a href="%%_FAQ_URL_%%" alt="AppTank FAQ's">%%_FAQ_URL_%%</a></p>
<p>-Team AppTank-</p>
</font>