<font face="Verdanna,Arial,Helvetica">
<p>
	%%_FIRST_NAME_%%,<br />
	Thank you for your credits purchase!  This email is a receipt for your records.
</p>
<p>
	Credits Purchased: %%_CREDITS_PURCHASED_%%<br/>
	Cost: %%_TRANSACTION_COST_%%<br/>
	Transaction Id: %%_TRANSACTION_ID_%%
</p>
<p>Please find the total credits you have available by logging into your account and looking at the top right of the page.</p>
<p>Now put those credits to work and start bidding on those projects!</p>
<p>Questions?  Please visit our FAQ's <a href="%%_FAQ_URL_%%" alt="AppTank FAQ's">%%_FAQ_URL_%%</a></p>
<p>-Team AppTank-</p>
