<font face="Verdanna,Arial,Helvetica">
<p>
	Welcome newest AppTank member!
</p>
<p>
	Thank you for joining the AppTank community! We are happy that you are a part of the tank! To complete the sign up process, please follow the link provided below to verify your account.</p>
<p>
	To verify your account, visit <a href="%%_VERIFY_URL_%%">%%_VERIFY_URL_%%</a>
</p>
<p>
	Questions?  Please visit our FAQ's page at <a href="%%_FAQ_URL_%%" alt="AppTank FAQ's">%%_FAQ_URL_%%</a>
</p>
<p>
	<b>-Team AppTank-</b
></p>
</font>